* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: pink;
}

h1 {
  background-color: #ccc;
}

.box {
  background-image: url("../img/img.jpg");
}
