* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  background-color: yellow;
}

.box {
  background-image: url("../images/meric-dagli-BqFmufN6xIs-unsplash.jpg");
}
